DATABASE_HOST=postgresql+asyncpg://user:password@localhost:5432/database_name
PASSWORD_SECRET=supersecretpassword
JWT_SECRET=superjwtsecret
JWT_ALORITHM=HS256
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SENDER_EMAIL=super_email
SENDER_PASSWORD=super_secret

OTHER_DB_URL=mysql+asyncmy://user:password@localhost:3306/database_name