DEBUG=True
DATABASE_HOST=postgresql+asyncpg://USER:PASSWORD@db:5432/DATABASENAME
PASSWORD_SECRET=SECRET
JWT_SECRET=SUPERSECRET
JWT_ALORITHM=HS256
REDIS_HOST=redis # Service
REDIS_PORT=6379

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SENDER_EMAIL=EMAIL SENDER
SENDER_PASSWORD=SUPER SECRET EMAIL APP PASSWORD (https://support.google.com/mail/answer/185833?hl=en)

OTHER_DB_PASSWORD=SUPERSECRET
OTHER_HOST=OTHER DB HOST
OTHER_PORT=3306
OTHER_USER=USER
OTHER_PASSWORD=SUPERSECRET
OTHER_DB_URL=mysql+asyncmy://USER:PASSWORD@db:3306/DATABASENAME